<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <p>Welcome, <span th:text="${#authentication.name}">User</span>!</p>
    <p>Roles:
        <span th:each="role : ${#authentication.authorities}" th:text="${role.authority} + ' '"></span>
    </p>
</div>
<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/about}">About</a></li>

        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}">My Profile</a>
        </li>
    </ul>
</nav>
</body>
</html>
